:root {
  --secondary: #ffffff;
}

@media (max-width: 450px) {
  .tab-focus,
  .not-tab-focus {
    height: 100%;
  }
}

html {
  scroll-behavior: smooth !important;
  font-size: clamp(15px, 2vw, 20px) !important;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* font : */
@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Alexandria;
  src: url("../public/fonts/Alexandria-Light.ttf");
  font-weight: 200;
}

body {
  background-color: #333;
  color: var(--secondary);
  direction: rtl;
}

/* Container : */
.MuiContainer-root {
  height: 100vh !important;
  height: 100svh !important;
  width: 100vw !important;
  max-width: none !important;
  padding: 0px !important;
  margin: 0px !important;
}

h1,
p {
  font-size: unset;
  font-weight: normal;
}

.todo-list {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 2%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 10fr 1fr;
  row-gap: 4%;
}

.todo-list-title {
  font-family: Alexandria;
  font-weight: bold !important;
  text-align: center !important;
  margin-bottom: 5px;
  font-size: 3rem !important;
}

.tasks {
  overflow-y: auto;
  padding-left: 2%;
}
.tasks::-webkit-scrollbar {
  background-color: #ddd;
  border-radius: 10px;
  width: 8px;
  height: 8px;
  scroll-behavior: smooth;
}
.tasks::-webkit-scrollbar-thumb {
  background-color: #8bc34a;
  border-radius: 10px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7);
}

.task {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5% 1.5%;
  transition: 0.5s;
  border-radius: 10px;
}
.task:hover {
  padding: 3.5% 1.5%;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4) !important;
}
.content {
  white-space: normal;
  word-break: break-word;
}
.task h1,
.task p {
  font-family: Alexandria;
  text-align: start;
}
.task h1 {
  font-size: 1.6rem !important;
  font-weight: bold !important;
}
.task p {
  font-size: 1rem !important;
  font-weight: normal !important;
}

@media (max-width: 700px) {
  .task h1 {
    font-size: 1.4rem !important;
  }
}
@media (max-width: 450px) {
  .task h1 {
    font-size: 1.2rem !important;
  }
}

.icons-group {
  display: flex;
}
.checked,
.not-checked,
.edit,
.delete {
  width: clamp(33px, 5vw, 45px) !important;
  height: clamp(33px, 5vw, 45px) !important;
  padding: 4% !important;
  margin-right: clamp(3px, 1vw, 7px);
}
.not-checked,
.edit,
.delete {
  transition: 0.3s !important;
}
.not-checked:hover,
.edit:hover,
.delete:hover {
  background-color: rgba(255, 255, 255, 0.7) !important;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4) !important;
}
.not-checked {
  background-color: var(--secondary) !important;
  color: #689f38 !important;
  border: 2px solid #689f38 !important;
  cursor: pointer !important;
}
.checked {
  background-color: #689f38 !important;
  color: var(--secondary) !important;
  border: 2px solid var(--secondary) !important;
  cursor: default !important;
}

.add-task {
  display: grid;
  grid-template-columns: 79% 20%;
  justify-content: space-between;
  align-items: center;
}
.add-button {
  font-weight: bold !important;
}
.css-1prkojy-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10px !important;
}
label {
  font-weight: 200 !important;
}

.MuiButtonGroup-root {
  margin: 0px !important;
}
.css-1ftgdsu-MuiButtonGroup-root {
  border-radius: 10px !important;
}
.tab-focus {
  background-color: #618833 !important;
}
.tab-focus,
.not-tab-focus {
  font-weight: bold !important;
}
#not-ended-tasks {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
#all-tasks {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.no-tasks-found-msg {
  font-family: Alexandria;
  font-weight: bold !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.alert-msg {
  direction: ltr !important;
  right: unset !important;
  border-radius: 10px !important;
  width: 40vw;
}
.MuiPaper-root {
  border-radius: 10px !important;
  width: 100%;
}
@media (max-width: 600px) {
  .alert-msg {
    width: 60vw;
  }
}

::selection {
  background-color: #8bc34a;
  color: var(--secondary);
}
